@import "src/theme/theme-variables";

.spaced-columns {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.login-container {
  color: #ffffff;
  display: flex;
  height: 100%;
}

.login-box {
  width: 90%;
  max-width: 300px;
  min-height: 200px;
  max-height: 300px;
}

.mat-input-container {
  width: 100%;
}

.login-pill-button {
  height: 50px;
  width: 266px;
  border-radius: 100px;
  font-size: 18px;
  background-color: $peax-yellow;
  border: none;
  color: $peax-black;
  margin-top: 30px;
}
